body {
  background-color: black;
}

.content {
  max-width: 100%;
  margin: 0 auto;
}
.content table {
  position: relative;
  border-spacing: 0px;
  margin: 0 auto;
}
.content table td {
  width: 94px;
  height: 94px;
  border-style: dashed;
  border-color: aqua;
}
.content .hit {
  background-image: url(../img/ship.png);
  background-position: center;
  background-repeat: no-repeat;
}
.content .miss {
  background-image: url(../img/miss.png);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
}
.content .sunk {
  background-color: rgb(42, 74, 19);
}
.content__messageArea {
  max-width: 25%;
  font-size: 32px;
  position: absolute;
  top: 13%;
  left: 5px;
  color: rgb(83, 175, 19);
  border-radius: 30px;
  border-style: inset;
  border-color: aquamarine;
  padding: 7px;
}
.content__messageCount {
  max-width: 25%;
  font-size: 32px;
  position: absolute;
  top: 10%;
  right: 0;
  color: rgb(83, 175, 19);
  box-shadow: 0 0 10px rgba(11, 35, 19, 0.5);
  border-style: inset;
  border-color: aquamarine;
  padding: 5px;
}