body{
    background-color: black;
    text-transform: uppercase;
}
.content{
    max-width: 35%;
    margin: 100px auto;
    h1{
        font-size: 50px;
        color:rgb(42, 74, 19);
    }
    a{
        text-decoration: none;
    }    
    span{
        font-size: 25px;
        color: rgb(16, 18, 15);
        padding-left: 50px;
    }
    &__playerOne{
        margin-left: 100px;
        width: 250px;
        height: 40px;
        margin-bottom: 10%;
        background-color: aquamarine;
        border-radius: 30px;
        &:hover{
            background-color: chartreuse;
        }
    }
    &__playerTwo{
        margin-left: 100px;
        width: 250px;
        height: 40px;
        background-color: aquamarine;
        border-radius: 30px;
        &:hover{
            background-color: chartreuse;

        }
    }
}
