
body{
    background-color: black;
}
.content{
    width: 1024px;
    margin: 0 auto;
    table{
        
        position: relative;
        border-spacing: 0px;
        margin: 0 auto;
        td{
            width: 94px;     
            height: 94px;
            border-style: dashed;
            border-color: aqua;
        }

    }
    .hit{
        background-image: url(../img/ship.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .miss{
        background-image: url(../img/miss.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .sunk{
        background-color: rgb(42, 74, 19);
    }
    &__messageArea{
        max-width: 25%;
        font-size: 32px;
        position: absolute;     
        top: 0px;
        left: 0px;
        color: rgb(83, 175, 19);
        box-shadow: 0 0 10px rgba(11, 35, 19, 0.5);
    }
    &__messageCount{
        max-width: 25%;
        font-size: 32px;
        position: absolute;     
        top: 0px;
        right: 0px;
        color: rgb(83, 175, 19);
        box-shadow: 0 0 10px rgba(11, 35, 19, 0.5); 
    }
}